<!-- forget_password.html -->
<!DOCTYPE html>
<html>

<head>
    <title>忘记密码</title>
    <link rel="stylesheet" href="/assets/css/forget.css">
</head>

<body>

    <form id="forget-password-form" action="/reset-password" method="post">
        <div class="form-title">忘记密码</div>
        <div>
            <label for="username">用户名:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-input">
            <label for="security_question">安全问题：</label>
            <select name="security_question" id="security_question">
                <option value="您第一次去国外旅行的目的地是哪里？">您第一次去国外旅行的目的地是哪里？</option>
                <option value="您小时候最喜欢的玩具是什么？">您小时候最喜欢的玩具是什么？</option>
                <option value="您最亲近的朋友在小学时的名字是什么？">您最亲近的朋友在小学时的名字是什么？</option>
                <option value="您家族中，第一个拥有汽车的是谁？">您家族中，第一个拥有汽车的是谁？</option>
                <option value="您最喜欢的电影导演是谁？">您最喜欢的电影导演是谁？</option>
                <option value="您人生中的第一次飞行是去往哪里的？">您人生中的第一次飞行是去往哪里的？</option>
                <!-- 其他问题选项 -->
            </select>
        </div>
        <div>
            <label for="security_answer">答案：</label>
            <input type="text" name="security_answer" id="security_answer" required>
        </div>
        <div>
            <label for="new_password">新密码:</label>
            <input type="password" id="new_password" name="new_password" required>
        </div>
        <div class="submit_container">
            <button type="submit" class="submit-button">提交</button>
        </div>

    </form>

</body>
<script>
    document.getElementById("forget-password-form").addEventListener("submit", function (event) {
        event.preventDefault(); // 阻止默认表单提交行为

        // 获取表单数据
        var username = document.getElementById("username").value;
        var securityQuestion = document.getElementById("security_question").value;
        var securityAnswer = document.getElementById("security_answer").value;
        var newPassword = document.getElementById("new_password").value;

        // 创建一个新的HTTP请求
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/reset-password", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        // 构建发送到服务器的表单数据
        var formData = "username=" + encodeURIComponent(username) +
            "&security_question=" + encodeURIComponent(securityQuestion) +
            "&security_answer=" + encodeURIComponent(securityAnswer) +
            "&new_password=" + encodeURIComponent(newPassword);

        // 发送表单数据
        xhr.send(formData);

        // 处理服务器的响应
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    alert("密码重置成功"); // 密码重置成功的提示
                    window.location.href = '/loginpage'; // 密码重置成功后跳转到登录页面
                } else {
                    alert("密码重置失败: " + xhr.responseText); // 显示密码重置失败的具体原因
                }
            }
        };
    });
</script>

</html>