<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>歌單列表</title>
    <link rel="stylesheet" href="/assets/css/songlist.css">
    <script src="/assets/js/songlist.js"></script>
</head>

<body>
    <!-- <h1>我的歌單</h1> -->
    <div class="container">
        <div class="intro_container">
            <div id="avatar">
                <img id="avatarImage" src="" alt="用户头像">
            </div>
            <div id="intro">
                <div class="intro">{{.Username}}</div>
                <div class="intro">和她的{{.Username}}小曲</div>
                <div class="intro">點歌名複製</div>
            </div>
        </div>
        <div class="songlist_container">
            <div class="button_container">
                <button id="chineseButton">中 文</button>
                <button id="japaneseButton">日 文</button>
                <button id="englishButton">英 文</button>
            </div>
            <input type="text" id="searchBox" placeholder="搜索歌名...">
            <div class="table_container scrollbar">
                <table id="songlistTable">
                    <thead>
                        <tr>
                            <th>歌單名稱</th>
                            <th>歌手</th>
                            <th>語言</th>
                            <th>備註</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- 歌單數據將在這裡顯示 -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        function updateTheme(mainColor, subColor, subColor_1) {
            document.documentElement.style.setProperty('--main-color', mainColor);
            document.documentElement.style.setProperty('--sub-color', subColor);
            document.documentElement.style.setProperty('--sub-color-1', subColor_1);
        }

        updateTheme('{{.MainColor}}', '{{.SubColor}}', '{{.SubColor_1}}');
    </script>
</body>

</html>