<!DOCTYPE html>
<html>

<head>
    <title>歌單管理</title>
    <link rel="stylesheet" href="/assets/css/upload.css">
    <script src="/assets/js/upload.js"></script>
</head>

<body>
    <div class="container">
        <div class="browser-warning">
            建議使用Google Chrome，否則部分功能無法支援。
        </div>
        <div class="navbar">
            <button onclick="showSection('songlist-management')">歌单管理</button>
            <button onclick="showSection('theme-management')">主题色管理</button>
            <button onclick="showSection('go-to-songlist')">头像上传</button>
            <div class="user-info">
                <span>欢迎回来！{{.Username}}！</span>
            </div>
        </div>
        <div id="songlist-management" class="section">
            <h1>歌单上传(我只吃.xlsx哦~)</h1>
            <button id="showImageBtn">上传范例</button>
            <div id="imageModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="modalImage">
                <div id="caption"></div>
            </div>
            <div id="overlay"></div>
            <form onsubmit="uploadFile(event)" class="upload-form">
                <input type="file" name="songlist" id="songlist" accept=".xlsx">
                <input type="submit" value="上傳歌单" class="uploadbutton">
            </form>
            <div class="deletebutton-container">
                <button onclick="deleteSongList()" class="deletebutton">删除歌单</button>
            </div>
            <a href="/{{.Username}}/songlistpage" class="gotosonglist">查看歌单</a>
            <!-- 歌单上传和删除的表单放在这里 -->
            <h1>歌单管理</h1>
            <form id="addSongForm">
                <input type="text" id="songName" placeholder="歌曲名称">
                <input type="text" id="singer" placeholder="歌手">
                <input type="text" id="language" placeholder="语言">
                <input type="text" id="description" placeholder="備註">
                <button type="submit">添加歌曲</button>
            </form>
            <ul id="songlist_display">
                <!-- 歌单列表将通过 JavaScript 动态加载 -->
            </ul>
        </div>

        <div id="theme-management" class="section" style="display:none;">
            <!-- 主题色管理的表单放在这里 -->
            <form onsubmit="uploadTheme()" class="theme-form">
                <!-- 主题配色选择 -->
                <div class="color-label">主要背景色</div>
                <input type="color" name="main_color" id="main_color" class="color" value="{{.MainColor}}">
                <div class="color-label">按鈕点击色</div>
                <input type="color" name="sub_color" id="sub_color" class="color" value="{{.SubColor}}">
                <div class="color-label">表單背景色</div>
                <input type="color" name="sub_color_1" id="sub_color_1" class="color" value="{{.SubColor_1}}">
                <input type="submit" value="更新主题" class="theme-button">
            </form>
        </div>
        <div id="go-to-songlist" class="section" style="display:none;">
            <!-- 查看歌单的链接放在这里 -->
            <form onsubmit="uploadAvatar()" class="upload-form">
                <!-- 头像上传 -->
                <input type="file" name="avatar" id="avatar" accept="image/jpeg">
                <input type="submit" value="更新头像" class="uploadbutton">
            </form>
        </div>
    </div>
</body>

</html>