:root {
    --main-color: #392F5A;
    /* var(--main-color); */
    --sub-color: #5f4a79;
    /* var(--sub-color); */
    --sub-color_1: #5f4a79;
    /* var(--sub-color); */
}

@font-face {
    font-family: "font";
    src: url("/assets/font/LXGWNeoXiHei.ttf");
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: var(--main-color);
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "font" !important;
}

.selected {
    background-color: var(--sub-color) !important;
    /* 绿色背景 */
    color: #ffffff !important;
    border: var(--sub-color) 3px solid !important;
}

.container {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* 水平垂直居中 */
    margin: auto;
}


.intro_container {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #bebebea3;
    border: 4px solid #bebebe;
    box-shadow: 0 1px 10px 0 #e0e5e8;
    border-radius: 20px;
}

#avatarImage {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#avatar {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#intro {
    height: 40%;
    display: flex;
    flex-direction: column;
}

.intro {
    width: 100%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 0;
}

.songlist_container {
    width: 68%;
    height: 80%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #bebebea3;
    border: 4px solid #bebebe;
    box-shadow: 0 1px 10px 0 #e0e5e8;
    border-radius: 20px;
}

.button_container {
    width: 90%;
    height: 12%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: var(--main-color) 4px solid;
    border-radius: 20px;
}

.button_container button {
    width: 25%;
    height: 40px;
    font-weight: bold;
    background-color: #eeeeeea3;
    color: var(--main-color);
    border: #eeeeeea3 3px solid;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    font-family: "font" !important;
    line-height: 1.85 !important;
}

.button_container button:hover {
    border: var(--sub-color) 3px solid;
}

#searchBox {
    width: 87%;
    height: 8%;
    background-color: #eeeeeea3;
    border: var(--main-color) 4px solid;
    border-radius: 20px;
    font-size: 16px;
    padding-left: 2%;
    outline: none;
    margin: 1% 0;
}

#searchBox:focus {
    background-color: #ffffff;
}

.table_container {
    border: var(--main-color) 4px solid;
    border-radius: 20px;
    width: 90%;
    height: 58%;
    overflow-y: auto;
    background-color: #ffffff;
}

#songlistTable {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    /* border-radius: 20px; */
    font-size: 16px;
    padding: 5px;
    border-collapse: collapse;
}

#songlistTable tr {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: var(--sub-color-1);
}

#songlistTable th,
#songlistTable td {
    padding: 5px 10px;
    font-size: 20px;
    color: var(--main-color);
}

#songlistTable td:first-child {
    max-width: 150px;
    word-wrap: break-word;
    cursor: pointer;
}

#songlistTable td:first-child:hover {
    font-weight: bold;
    /* font-size: 25px; */
}

/* Alternating background colors */
#songlistTable tr:nth-child(even) {
    background: var(--sub-color-1);
}

#songlistTable tr:nth-child(odd) {
    background: #ffffff;
}

.scrollbar {
    &::-webkit-scrollbar {
        width: 7px;
        background-color: none;
        border-radius: 100px;
        margin: 20px 0px
    }

    &::-webkit-scrollbar-track {
        background-color: none;
        margin: 20px 0px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--main-color);
    }
}

@media(max-width: 1000px) {
    .container {
        flex-direction: column;
        /* 在小屏幕上使用垂直布局 */
        width: 100%;
    }

    .intro_container,
    .songlist_container {
        width: 80%;
        /* 讓每個容器在小屏幕上占滿整個寬度 */
        margin: 10px 0;
    }

    .intro_container {
        height: 30%;
    }

    .songlist_container {
        height: 60%;
    }

    #avatarImage {
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }

    .button_container button {
        height: 70%;
        font-size: 40px;
    }

    .table_container {
        height: 70%;
    }

    #songlistTable th,
    #songlistTable td {
        font-size: 30px;
    }

    .intro {
        font-size: 50px;
    }

    #avatar {
        height: 40%;
    }

    #searchBox {
        font-size: 30px;
    }
}