body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.alltitle {
    font-size: 24px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.upload-form,
.theme-form {
    margin-bottom: 20px;
}

input[type="file"],
input[type="color"],
input[type="submit"] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.deletebutton-container,
.gotosonglist,
.user-info {
    text-align: center;
    margin-top: 20px;
}

.deletebutton,
.theme-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.deletebutton:hover,
.theme-button:hover {
    background-color: #d32f2f;
}

.gotosonglist {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.gotosonglist:hover {
    background-color: #0b7dda;
}

.user-info {
    font-size: 16px;
    color: #555;
}